#################
## LaTeX
#################

*.otf
*.ttf
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.bcf
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.lol
*.maf
*.mtc
*.mtc1
*.out
*.bak
*.nlo
*.nls
*.pdf
*.synctex
*.synctex.gz
*.latexmain
*.tcp
*.tps
*.tmp
*.xml

#################
## Vim
#################

*~
*.swp
*.swo
